body {
    font-family: calibri;
    background-color: #123;
    text-align: center;
    padding: 20px 10px;
    margin:0;
}

h1 {
    font-family: calibri;
    text-align: center;
}

h3 {
	font-family: calibri;
}
p{
	text-indent: 2em;
}

a{
	color: #ffd;
}

#content {
	font-family: times new roman;
	width: 1000px;
	text-align: left;
	margin: 0 auto;
}

#sideindent {
	text-indent: 2em;
}

#header {
	background-color: #234;
	color: #fff;
}


#sidebar1 {
	font-family: times new roman;
	width: 200px;
	float: left;
	font-size: 95%;
	line-height: 1.5em;
	color: #9ba;
}

#main {
	font-size: 18px;
	margin-left: 220px;
	width: 560px;
	background-color: #10253A;
	color: #fff;
}

#sidebar2 {
	font-family: times new roman;
	width: 200px;
	float: right;
	font-size: 95%;
	line-height: 1.5em;
	color: #9ba;
}

.box {
	color: #798;
}