body {
    font-family: calibri;
    background-color: #080808;
    text-align: center;
    padding: 20px 10px;
    margin:0;
}

h1 {
    font-family: calibri;
    text-align: center;
}

h3 {
	font-family: calibri;
}
p{
	text-indent: 2em;
}

a{
	color: #fff;
}

#content {
	font-family: calibri;
	width: 1000px;
	text-align: left;
	margin: 0 auto;
}

#sideindent {
	text-indent: 2em;
}

#header {
	width: 800px;
	margin-left: 100px;
	background-color: #080808;
	color: #9ae6d7;
}

#sidebar1 {
	font-family: times new roman;
	width: 200px;
	float: left;
	font-size: 95%;
	line-height: 1.5em;
	color: #7d7d7d;
}

#main {
	font-size: 18px;
	margin-left: 220px;
	width: 560px;
	background-color: #0c0c0c;
	color: #fff;
}

#footer {
	color: #fff;
}

#sidebar2 {
	font-family: times new roman;
	width: 200px;
	float: right;
	font-size: 95%;
	line-height: 1.5em;
	color: #7d7d7d;
}

.box {
	color: #fff;
}

.box-2 {
	color: #fff
}

#boxInMain {
	width: 500px;
	margin-left: 30px;
	background-color: #444;
	color: #fff;
}

.topbody{
    width:900px;
    margin: 0 auto;
}
.topbar{
    width:100%;
    display: inline-block;
}

.topbar li{
    float:left;
}
.toplist{
    display: inline-block;
    list-style-type:none;
}
.toplist a{
    color:#FFF;
    text-decoration: none;
}
.title,.toplist a{
    display:block;
    float: left;
}
.toplist a{
    padding:15px 20px 15px 20px;
}
.title{
    color:#FFF;
    text-decoration: none;
    padding:15px 30px 15px 30px;
}